* {
    align-content: center;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    color: #000000cd;
}

h2 { 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    align-self: center;
    color: #000000cd;
}

button {
    text-decoration: none;
    font-size: 40px;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    color: white;
    width: 200px;

}

#rockButton {
    background-color: #023E8A;   
}

#rockButton:hover {
    background-color: #033373;
    transition-duration: 1s;
    transform: scale(1.1);    
}
#paperButton {
    background-color:#0077B6 ;
}

#paperButton:hover {
    background-color: #006195;
    transition-duration: 1s;
    transform: scale(1.1);    
}

#scissorsButton {
    background-color: #90E0EF ;
}

#scissorsButton:hover {
    background-color: #7cc4d1;
    transition-duration: 1s;
    transform: scale(1.1);    
}

#leftBox, #rightBox {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  ;
  
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}